
.myHeader {
  min-height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 1005;
  top: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  font-family: "OpenSansRegular", "Open Sans", Arial, Helvetica, sans-serif;
}
